<div class="grid-row">
  <div class="grid-col-12">
    <%= render "shared/nav_breadcrumbs", object: [["Benthic Cover Categories", cover_cats_path], ["New Cover Category", ""]] %>
    <%= render 'form' %>
  </div>
</div>