<div class="row replicate_record">
  <div class="span3">
    <div class="control-group">
      <label class="control-label">Replicate</label>
      <div class="controls replicate_type">
        <%= f.text_field :replicate %>
      </div>
    </div>
  </div>
  
  <div class="span6">
    <div class="control-group">
      <label class="control-label diver_type_label">Diver</label>
      <div class="controls">
        <%= f.collection_select :diver_id, Diver.active_divers.order(:diver_name).all, :id, :diver_name, { :include_blank => "" }%>
        <%= f.link_to_remove "Remove Replicate", {:tabindex => "-1"}  %>
      </div>
    </div>
  </div>
</div>
