<div class="grid-row">
  <div class="grid-col-fill">
    <%= render "shared/nav_breadcrumbs", object: [["Boat Logs", boat_logs_path], ["New Boat Log", ""]] %>
  </div>
  <div class="grid-col-auto">
    <%= render "draft_progress_uswds", object: @boat_log %> 
  </div>
</div>

<%= render partial: "draft_present_alert", locals: { discard_draft_url: draft_boat_logs_path(id: @boat_log.id) } %>
<%= render "form" %>