<h1>Home Landing Page</h1>
<p>Make this links to login/sign up...</p>
<p>Picture Slider</p>
<p>did you get this</p>

<p> <%= link_to "Sample List", samples_path %> </p>

  <p> <%= link_to "Diver List", divers_path  %> </p>


