<p id="notice"><%= notice %></p>

<ol>
<% for animal in @sample.sample_animals %>
  <li><%= animal.animal_id %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
