# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

# Anything with a shebang needs newlines preserved, even in Windows
bin/* text eol=lf

# Encrypted files are not text
config/credentials/*.yml.enc -text
config/credentials.yml.enc -text
