<p>
  Attached is a database backup from <%= @hostname %> generated on <%= @now.strftime("%Y-%m-%d %H:%M:%S%z") %>.
</p>
<p>
  To restore it, copy it to a server and run:
</p>
<p>
  <pre><code>bin/rake db:restore FILE=<%= @filename %></code></pre>
</p>