<fieldset>
  <legend> MacroInvertebrates </legend>

        <div class="control-group">
          <label class="control-label">Lobster</label>
          <div class="controls">
            <%= f.text_field :lobster_num %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Conch</label>
          <div class="controls">
            <%= f.text_field :conch_num %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Diadema</label>
          <div class="controls">
            <%= f.text_field :diadema_num %>
          </div>
        </div>

      </fieldset>
