<fieldset>
  <legend> MacroInvertebrates </legend>

        <div class="control-group">
          <label class="control-label">P. argus</label>
          <div class="controls">
            <%= f.text_field :lobster_num %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">S. gigus</label>
          <div class="controls">
            <%= f.text_field :conch_num %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">D. antillarum</label>
          <div class="controls">
            <%= f.text_field :diadema_num %>
          </div>
        </div>

      </fieldset>
