
<fieldset>
  

        <div class="control-group">
          <label class="control-label">A.palmata</label>
          <div class="controls">
            <%= f.text_field :a_palmata %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">A.cervicornis</label>
          <div class="controls">
            <%= f.text_field :a_cervicornis %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">D.cylindrus</label>
          <div class="controls">
            <%= f.text_field :d_cylindrus %>
          </div>
        </div>
    
  
</fieldset>
