<div class="grid-row">
  <div class="grid-col-12">
    <%= render "shared/nav_breadcrumbs", object: [["Benthic Covers", benthic_covers_path], ["Edit Benthic Cover #{@benthic_cover.field_id}", ""]] %>
    <%= render 'form' %>
  </div>
</div>