<div class="grid-row flex-row">
  <div class="grid-col flex-fill">
    <%= render "shared/nav_breadcrumbs", object: [["Benthic Covers", benthic_covers_path], ["New Benthic Cover", ""]] %>
    <%= render 'form' %>
  </div>
</div>