<h1>New benthic_cover</h1>

<%= render partial: "draft_present_alert", locals: { discard_draft_url: draft_benthic_covers_path } %>

<%= render 'form' %>

<%= link_to 'Benthic Sample List', benthic_covers_path %>
