<nav class="usa-breadcrumb" aria-label="Breadcrumbs">
  <ol class="usa-breadcrumb__list">
    <%- ([["Home", root_path]] + object).each do |(name, options)| %>
      <li class="usa-breadcrumb__list-item">
        <%- if options.present? %>
          <%= link_to name, options, class: "usa-breadcrumb__link font-heading-lg text-bold" %>
        <%- else %>
          <span class="font-heading-lg text-bold"><%= name %></span>
        <%- end %>
      </li>
    <%- end %>
  </ol>
</nav>