<div class="grid-row">
  <div class="grid-col-fill">
    <%= render "shared/nav_breadcrumbs", object: [["Coral Demographics", coral_demographics_path], ["Edit Coral Demographic #{@coral_demographic.field_id}", ""]] %>
  </div>
  <div class="grid-col-auto">
    <%= render "draft_progress_uswds", object: @coral_demographic %> 
  </div>
</div>

<%= render partial: "draft_present_alert", locals: { discard_draft_url: draft_coral_demographics_path(id: @coral_demographic.id) } %>
<%= render "form" %>