/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

.usa-section {
  // Override large Y padding that seems to be hard-coded in USWDS
  @include at-media("tablet") {
    @include u-padding-y($theme-site-margins-width);
  }
}

.field_with_errors .usa-input,
.usa-input.error,
.field_with_errors .usa-select,
.usa-select.error {
  background-color: yellow;
  @include u-outline("2px");
  @include u-outline-color("secondary");
}

.usa-form {
  .select2-container {
    display: block;
  }
}

// Conflicting styles between USWDS and DataTables
[type="search"] {
  float: initial;
}

div.error,
span.error {
  @include u-text("secondary");
  @include u-font("ui", "2xs");
}
