/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

.usa-section {
  // Override large Y padding that seems to be hard-coded in USWDS
  @include at-media("tablet") {
    @include u-padding-y($theme-site-margins-width);
  }
}

.field_with_errors .usa-input,
.field_with_errors .usa-select,
.usa-input.error,
.usa-select.error {
  &:enabled,
  &:enabled:hover {
    background-color: yellow;
    @include u-outline("2px");
    @include u-outline-color("secondary");
  }
}

// Total fields
.usa-input.total-valid {
  &,
  &:hover {
    background-color: lightgreen;
  }
}
.usa-input.total-invalid {
  &,
  &:hover {
    background-color: yellow;
    @include u-outline("2px");
    @include u-outline-color("secondary");
  }
}

// Embolden the label associated with the focused element
.usa-form {
  label.focused {
    @include u-text("bold");
  }
}

// Allow custom margins for buttons within forms
.usa-form .usa-button {
  &.margin-top-0 {
    @include u-margin-top(0);
  }
  &.margin-top-05 {
    @include u-margin-top(0.5);
  }
  &.margin-top-1 {
    @include u-margin-top(1);
  }
}

// Conflicting styles between USWDS and DataTables
[type="search"] {
  float: initial;
}

div.error,
span.error {
  @include u-text("secondary");
  @include u-font("ui", "2xs");
}

.usa-table {
  tr,
  td,
  th {
    &.bg-secondary-lighter {
      @include u-bg("secondary-lighter", "!important");
    }
    &.bg-secondary-light {
      @include u-bg("secondary-light", "!important");
    }
  }
}

// Do not draw an online around jspreadsheet-ce tables
.jss_spreadsheet {
  &[tabindex]:focus,
  &[contentEditable="true"]:focus {
    outline: 0px;
  }
}
