//= require select2
//= require bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone
//= require jquery-timepicker/jquery.timepicker
//= require datatables.net-dt/css/dataTables.dataTables
//= require jquery-ui
//= require_self

.field_with_errors {
  display: contents;
}

@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Drafts
.draft-progress {
  font-variant: small-caps;

  .draft-saved {
    background-color: #ffbc78;
  }
  .draft-pending {
    background-color: #f3e1e4;
  }
  .draft-saving {
    .usa-icon {
      animation: spin360 4s linear infinite;
    }
    background-color: #97d4ea;
  }
  .saved {
    background-color: #04c585;
  }
}

// Samples form
.sample-form {
  .timeSeen_1,
  #timeSeen1 {
    &:enabled {
      background-color: hsl(0, 0%, 100%);
    }
  }
  .timeSeen_2,
  #timeSeen2 {
    &:enabled {
      background-color: hsl(195, 79%, 43%);
    }
  }
  .timeSeen_3,
  #timeSeen3 {
    &:enabled {
      background-color: hsl(145, 62%, 68%);
    }
  }
  .time_seen_button {
    &,
    &:hover,
    &:active {
      color: #333333;
    }
  }
  ol#animals {
    list-style-type: none;
    counter-reset: animal-counter;

    li {
      counter-increment: animal-counter;
      &::marker {
        content: counter(animal-counter) " ";
      }
    }
  }
}

// Tweaks to jquery-ui theme which would otherwise conflict with USWDS
.ui-tabs .ui-tabs-panel {
  padding: initial;
}
.ui-widget,
.ui-widget .ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: unset;
  font-size: unset;
}
.ui-widget-content {
  color: unset;
}
