/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables.bootstrap
 *= require select2
 *= require_tree .
*/

#substrateSection, #speciesSection {
  display: none;
}

#homeSidebar p {
  display: inline;
  float: none;
}

.section_header h3 {
  text-align: center;
}

.home {
  text-align: center;
}

.appContainer {
    position: relative;
    width: 960px;
    height: 500px;
    padding: 20px;
    background: #f0f0f0;
    overflow:auto;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    /* Font Styles */
    font-size: 10px;
 
}
.formContainer {
    position: relative;
    width: 960px;
    height: 500px;
    padding: 20px;
    background: #f0f0f0;
    overflow: auto;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    /* Font Styles */
    font-size: 10px;
 
}

/*#sampleList tr:hover {*/
  /*background-color: yellow !important;*/
/*}*/

input.error {
  background: yellow !important;
  border: 1px solid yellow !important;
}



div.section_1,div.section_2, p.flipSection_1 {
    /*width: 920px;*/
    background: #f0f0f0;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
}
#substrateSection #speciesSection {
  visibility: hidden;
}

.section_1 {
  position: absolute;
  /*height: 100%;*/
}

.show_section_1 {
  height: 410px;
}

.flipSection_1 {
  text-align: center;
}

#section_1_part_1 {
  padding: 20px;
  position: absolute;
  top: 5px;
  left: 0;
  width: 450px;
}

#section_1_part_2 {
  padding: 20px;
  position: absolute;
  top: 5px;
  left: 500px;
  width: 425px;
}

.gotoButton {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px !important; 
}

.section_2 {
  position: absolute;
  /*height: 100%;*/
}

#section_2_part_1 {
  width: 250px;
  height: 500px;
  padding: 0px;
  position: absolute;
  top: 5px;
  left: 0;
}

#slope {
  position: absolute;
  top: 5px;
}

#vertRelief {
  position: absolute;
  top: 140px;
}

#reliefCoverage {
  position: absolute;
  bottom: 25px;
}

#section_2_part_2 {
  left: 535px;
  width: 310px;
  padding: 0px;
  position: absolute;
  top: 5px;
}

#section_2_part_3 {
  left: 325px;
  width: 310px;
  padding: 0px;
  position: absolute;
  top: 175px;
}

#section_2_part_4 {
  left: 650px;
  width: 310px;
  padding: 0px;
  position: absolute;
  top: 175px;
}

.one_hundred_flag {
  background: yellow !important;
}

#speciesTable {
  padding: 10px;
  top: 25px;
  left: 10px;
  width: 800px;
  background: white;
  
  /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
}

.totals {
  text-align: center;
}

.formContainer label {
  display: block;
  width: 100px;
  float: left;
  text-align: center;
    
  /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
 

}

.speciesLabels label {

}

#sample_sample_date {
  width: 80px;
}

.formContainer input {
  width: 50px;
}

.formContainer h3 {
  text-align: left;
}

.field_with_errors{
  display: inline;
}

.formContainer label.message {
  position: inline;
  color: blue;
  width: 300px;
  font-size: 8px;
  display: inline;
  float: right;
  text-align: left;
  border: none;
  border-radius: none;
  border-shadow: none;
  box-shadow: none;
}

#timeSeen1 {
  background-color: hsl(0, 0%, 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(#ffffff, #ffffff);
  border-color: #ffffff #ffffff hsl(0, 0%, 100%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

#timeSeen2 {
  background-color: hsl(195, 79%, 43%) !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#56c5eb), to(#1798c4));
  background-image: -moz-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -ms-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56c5eb), color-stop(100%, #1798c4));
  background-image: -webkit-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -o-linear-gradient(top, #56c5eb, #1798c4);
  background-image: linear-gradient(#56c5eb, #1798c4);
  border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

#timeSeen3 {
  background-color: hsl(145, 62%, 68%) !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

input.timeSeen_2 {
  background-color: hsl(195, 79%, 43%) !important;  
}

input.timeSeen_3 {
  background-color: hsl(145, 62%, 68%) !important;  
}

.time_seen_button.active {
  border: solid 5px !important;
}

.select2-container {
  width: 200px;
}

.show {
  margin-right: 10px;
}

#animals {
  padding-top: 0px;
  width: 960px;
  height: 375px;
  overflow: auto;
  position: relative;
  top: 10px;

}

.btn-group {
  position: relative;
  width: auto;
  height: auto;
  left: 60px;
}

.speciesLabels {
  position: relative;
  width: auto;
  height: auto;
  top: 20px;
}

.speciesLabels #species {
  position: relative;
  font-size: 15px;
  left: 75px;
}
.speciesLabels #num {
  position: relative;
  font-size: 15px;
  left: 168px;
}

.speciesLabels #mean {
  position: relative;
  font-size: 15px;
  left: 188px;
}

.speciesLabels #min {
  position: relative;
  font-size: 15px;
  left: 210px;
}

.speciesLabels #max {
  position: relative;
  font-size: 15px;
  left: 239px;
}


#newSampleButton {
  position: absolute;
  left: 5px;
  top: 25px;
}

#downloadSampleButton {
  position: absolute;
  left: 5px;
  top: 100px;
}

.ActionBar {
  margin-right: 15px;
}

.showActions {
  width: 100%;
  text-align: center;
}

.showActions form{ 
  display: inline-block;
  margin-right: 8px;
  text-align:center;
}

#animals input[disabled='disabled'] {
  opacity: 0.30;
}

.actions {
  position: relative;
  height: 30px;
  bottom: -25px;
}

#submitButton {
  position: relative;
  float: right;
}



#substrateSection fieldset {
  
  margin-top: 0px !important;

}

.error {
  color: red !important;
}

.top {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.dataTables_filter, .dataTables_paginate {
    vertical-align: top;
    display: inline-block;
    *display: inline;
}

.carousel-caption {
  height: 15px; 
}

.carousel-caption p {
  font-size: 15px;
}
