/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require select2
 *= require_tree .
*/

.appContainer {
    position: relative;
    width: 960px;
    height: 500px;
    padding: 20px;
    background: #f0f0f0;
    overflow:auto;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    /* Font Styles */
    font-size: 10px;
 
}
.formContainer {
    position: relative;
    width: 960px;
    height: 500px;
    padding: 20px;
    background: #f0f0f0;
    overflow: auto;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    /* Font Styles */
    font-size: 10px;
 
}

div.sampleListContainer {
    width: 420px;
    background: #DDD;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

}

div.sampleListContainer td {
text-align: center;
}

div.sampleListContainer h1 {
text-align: center;
}

div.section_1,div.section_2, p.flipSection_1 {
    width: 920px;
    background: #f0f0f0;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
}

.section_1 {
  height: 310px;
}

.flipSection_1 {
  text-align: center;
}

#section_1_part_1 {
  padding: 20px;
  position: absolute;
  top: 5px;
  left: 0;
  width: 375px;
}

#section_1_part_2 {
  padding: 20px;
  position: absolute;
  top: 5px;
  left: 400px;
  width: 310px;
}

.section_2 {
  height: 460px;
}

#section_2_part_1 {
  width: 250px;
  padding: 20px;
  position: absolute;
  top: 5px;
  left: 0;
}


#section_2_part_2 {
  left: 550px;
  width: 310px;
  padding: 20px;
  position: absolute;
  top: 5px;
}

#section_2_part_3 {
  left: 275px;
  width: 310px;
  padding: 20px;
  position: absolute;
  top: 150px;
}

#section_2_part_4 {
  left: 600px;
  width: 310px;
  padding: 20px;
  position: absolute;
  top: 175px;
}

#speciesTable {
  padding: 10px;
  top: 25px;
  left: 10px;
  width: 800px;
  background: white;
  
  /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
}

.totals {
  text-align: center;
}

.formContainer label {
  display: block;
  width: 100px;
  float: left;
  text-align: center;
    
  /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
 

}


.formContainer input {
  width: 50px;
}

.formContainer h3 {
  text-align: left;
}


.formContainer label.message {
  color: blue;
  width: 300px;
  font-size: 8px;
  display: inline;
  float: right;
  text-align: center;
  border: none;
  border-radius: none;
  border-shadow: none;
  box-shadow: none;
}

.timeSeen_2 {
  background-color: Yellow;
}

.select2-container {
  width: 200px;
}

.show {
  margin-right: 10px;
}

#animals {
  padding-top: 10px;
  width: 960px;
  height: 375px;
  overflow: auto;
}

#species {
  position: relative;
  left: 100px;
  width: 40px;
}

#fixed_elements {
  position: relative;
}

#num {
  position: relative;
  left: 210px;
  width: 25px;
}

#mean {
  position: relative;
  left: 240px;
  width: 25px;
}

#min {
  position: relative;
  left: 272px;
  width: 25px;
}

#max {
  position: relative;
  left: 300px;
  width: 25px;
}

#newSampleButton {
  position: fixed;
  left: 100px;
  top: 100px;
}
