// Place all the styles related to the BenthicCovers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.part_1 {
  width: 50%;
}


.part_2 {
  width: 50%;
}

.lpiHeaders {

  position: relative;
  font-size: 12px;
  font-weight: bold;
}

#cover {
  position: relative;
  left: 80px;
}

#hard {
  position: relative;
  left: 178px;
}

#soft  {
  position: relative;
  left: 200px;
}

#rubble {
  position: relative;
  left: 230px;
}

fieldset {
  margin-top: 20px !important;
}

.coverTotal {
  width: 200px;
  float: right;

}


.cover_data {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: auto;
}

.date input {
  width: 80px; 
}
