// Place all the styles related to the CoralDemographics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.demo_corals {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: auto;
}

.demo_corals input  {
  width: 75px;
}

.date input {
  width: 80px; 
}

.lpiHeaders li {
  width: 20px;
}

#meter_mark {
  width: 20px;
}

#meter {
  position: relative;
  left: 20px;
}

#coral {
  position: relative;
  left: 90px;

}

#max_diam {
  position: relative;
  left: 200px;

}

#perp_diam {
  position: relative;
  left: 260px;

}

#height {
  position: relative;
  left: 325px;

}

#old_mort {
  position: relative;
  left: 375px;

}

#recent_mort {
  position: relative;
  left: 435px;

}

#bleach_cond {
  position: relative;
  left: 485px;
}

#disease {
  position: relative;
  left: 550px;
}
