<%- if @draft.present? %>
  <div class="usa-alert usa-alert--warning usa-alert--slim margin-y-1 alert draft-present-alert">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        Data was restored from an incomplete draft.

        <%- if @draft.model_id.present? %>
        If you want, you can <%= link_to "discard the draft and revert to the saved version", discard_draft_url, class: "discard-draft-link", method: :post, remote: true, data: { confirm: "Are you sure you want to discard this draft and revert to the saved version?" } %>.
        <%- else %>
        If you want, you can <%= link_to "discard the draft and start over", discard_draft_url, class: "discard-draft-link", method: :post, remote: true, data: { confirm: "Are you sure you want to discard this draft and start over?" } %>.
        <%- end %>
      </p>
    </div>
  </div>
<%- end %>

<%= tag.div class: "usa-alert usa-alert--error usa-alert--slim margin-y-1 alert draft-saved-alert", style: (@draft.present? ? "" : "display: none") do %>
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      Please fully save the record when you are finished. A draft is only temporary.
    </p>
  </div>
<%- end %>