<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  <% end %>
</div>
